body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
}

#fomenu {
    height: 400px;
    width: 800px;

}


#folyo{
    margin: auto;
    float: right;
    font-size: larger;
    font-stretch: expanded;
    position: absolute;
    top: 280px;
    right: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    margin: auto;
}

.select,
input,
button {
    padding: 10px;
    margin: 10px;
    width: 90%;
    border-radius: 6px;
    border: none;
}

button {
    background: #22c55e;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

.result {
    margin-top: 15px;
}

.minigame {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background: #334155;
    border-radius: 10px;
}
#lolista{
    margin: auto;
    float: left;
    font-size: larger;
    font-stretch: expanded;
    position: absolute;
    top: 280px;
    left: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
a:hover{
    color: #16a34a;
    filter: brightness(1.5);
    transform: scale(1.05);
}
h2{
    text-decoration: underline;
}
a{
    text-decoration: none;}
#redbull { color: #2844e2; }      
#oracle { color: #F80000; }       
#merci { color: #00D2BE; }     
#petronas { color: #00A19B; }    
#ferrari { color: #DC0000; }      
#santander { color: #EC0000; }    
#mclaren { color: #FF8700; }      
#dell { color: #007DB8; }         
#rolex { color: #006039; }        
#pirelli { color: #FFD000; }     